body{
    background-color:lightblue;
    background-repeat: no-repeat;
    background-size: cover;
   
    color:rgb(35, 35, 122);
    list-style-position:inside;
}
span{
    font-style:italic;
    
}

img{
    width:35px;
}
p{
    width:45%;
    font-size:1.5em;
    margin-left:27%;
    text-align:justify;
    padding:0px;
    padding:20px;
    border:2px solid rgb(168, 179, 171);
    box-shadow:5px 3px 6px rgb(143, 84, 16);
}
ul{
    margin-left:39%;
    font-size:2em;
    line-height:3;
    font-style:bold;
    letter-spacing:1px;
}
h1{
    text-align: center;
    font-size: 4em;
    letter-spacing:2px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
#spl{
    font-family: "Annapurna SIL", serif;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  font-size: 5em;
  letter-spacing:2px;
}
