body{
    background-repeat: no-repeat;
    background-color:brown;
}
h1{
    text-align:center;
    color:rgb(224, 218, 233);
    
    font-size:3em;

}
img{
    margin-left:12px;
    width:32%;
    height:250px;

}
p{
    font-size:1.3em;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height:1.5;
    word-spacing:2px;
    color:rgb(10, 6, 14);
    text-align: justify;
    
}
